<?xml version="1.0" encoding="UTF-8"?>
<launch>

		
	<!-- VELOCITY_CONTROL -->
	<node name="backstepping_control" pkg="dynamic_control" type="differential_control.py" output="screen" args="" />
	<rosparam command="load" file="$(find dynamic_control)/config/config.yaml" />

        <!-- ODOM -->
    <rosparam file="$(find kinematic_control)/config/locomotion_parameters.yaml" command="load" ns=""/>	
	<node name="odometry" pkg="kinematic_control" type="odom.py" respawn="true"/>

</launch>
